{% extends 'base-front.html.twig' %}

{% block title %}Contrat index{% endblock %}

{% block body %}
    <h1>Contrat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Num_contrat</th>
                <th>Nom_user</th>
                <th>Prenom_user</th>
                <th>Num_tel</th>
                <th>Code_postal</th>
                <th>Ville</th>
                <th>Destinataire</th>
                <th>Type_contrat</th>
                <th>Date</th>
                <th>Nature_contart</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td>{{ contrat.id }}</td>
                <td>{{ contrat.numContrat }}</td>
                <td>{{ contrat.nomUser }}</td>
                <td>{{ contrat.prenomUser }}</td>
                <td>{{ contrat.numTel }}</td>
                <td>{{ contrat.codePostal }}</td>
                <td>{{ contrat.ville }}</td>
                <td>{{ contrat.destinataire }}</td>
                <td>{{ contrat.typeContrat }}</td>
                <td>{{ contrat.date ? contrat.date|date('Y-m-d') : '' }}</td>
                <td>{{ contrat.natureContart }}</td>
                <td>
                    <a href="{{ path('contrat_show', {'id': contrat.id}) }}">show</a>
                    <a href="{{ path('contrat_edit', {'id': contrat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contrat_new') }}">Create new</a>
{% endblock %}
